/*
    WSZYSTKIE WYSOKOŚI SĄ USTAWIANE DLA PRZYKŁADU. W PIERWSZYM KONTENERZE JAK BĘDDZIE BANER I ZEGAR 
    PRAWDOPODOBNIE TRZEBA BĘDZIE USUNĄĆ WYSOKOŚCI
*/
body{
    background-color: lightgrey;
}

.banner{
    height: 15vh;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2em;
}
.banner h2{
    font-size: 2em;
}

.zegar{
    text-align: right;
}

.weather{
    height: 25vh;
}

.news{
    height: 300px;
    clear: both;
}

.news .col-4{
    display: block;
    cursor: pointer;
}

.news #info img{
    width:100px !important;
}

.spotify {
    font-size: 1.5em;
    background-color: green;
    color: white;
    padding-top: 16px;
}

.spotify img {
    max-width: 100%;
}

.spotify a {
    color: white;
}

.spotify a:hover {
    text-decoration: underline;
    color: white;
}

.kuponImg{
	background-color:rgba(0,0,0,0.25);
}