/*
    WSZYSTKIE WYSOKOŚI SĄ USTAWIANE DLA PRZYKŁADU. W PIERWSZYM KONTENERZE JAK BĘDDZIE BANER I ZEGAR 
    PRAWDOPODOBNIE TRZEBA BĘDZIE USUNĄĆ WYSOKOŚCI
*/
body{
    background-color: lightgrey;
}

.banner{
    height: 15vh;
}

.zegar{
    text-align: right;
}

.weather{
    height: 25vh;
}

.news{
    min-height: 300px;
    clear: both;
}

.spotify {
    font-size: 1.5em;
    background-color: green;
    color: white;
    padding-top: 16px;
}

.spotify img {
    max-width: 100%;
}

.spotify a {
    color: white;
}

.spotify a:hover {
    text-decoration: underline;
    color: white;
}

.kuponImg{
	background-color:rgba(0,0,0,0.25);
}